<!DOCTYPE html>
<html>
<head>
  <title>WhoIsOnline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Abstand zur oberen Leiste -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">WhoIsOnline? AWE13</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Übersicht</a></li>
              <li><%= link_to "Bekannte Hosts", hosts_path %></li>
              <li><a href="/hosthistory/index">Historie</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

	<%= yield %>


      <footer>
        <p>&copy; StateOfTheArt 2013</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
